    <div class="blue-background">
    <footer class="inline-footer c-footer">
        <!---section 1--->
        <div>
            <ul>
                <li><h3>CONTACT INFO</h3></li> 
                <li>Frances Marquez</li>
                <li>Email: <a href="mailto:francesmarquez94@gmail.com" class="white"><i class="fa-solid fa-envelope"></i></a></li>    
                <li>St. Augustine, FL 32095</li>
            </ul>
        </div> 
        
        <!---section 2--->
        <div>
            <ul>
                <li><h3>MAIN LINKS</h3></li>
                <li><a href="/" class="hover-underline-animation white">Home</a></li> 
                <li><a href="/markets" class="hover-underline-animation white">Markets</a></li>
                <li><a href="register-login" class="hover-underline-animation white">Administrator</a></li> 
            </ul>
        </div>

        <!---section 3--->
        <div>
            <ul>
                <li><h3>EXPLORE</h3></li>
                <li><a href="./about.html" class="hover-underline-animation white">About</a></li> 
                <li><a href="./contact.html" class="hover-underline-animation white">Contact</a></li>
                <li><a href="./listings.html" class="hover-underline-animation white">Add Listings</a></li> 
            </ul>
        </div>

        <div class="c-footer-site-logos-and-social">
            <div class="c-footer-site-logos">
                <ul>
                    <li><a href="/index"><img src="#" class="hidden" alt="TBD"></a></li>
                </ul>
            </div>
            <div class="c-footer-social">
                <ul class="follow">
                    <li><a href="https://github.com/frances-ux" class="white"><i class="fa-brands fa-github"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/frances-marquez/" class="white"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href="https://www.instagram.com/francesdmc/" class="white"><i class="fa-brands fa-instagram"></i></i></a></li>
                </ul>
            </div>
        </div>
        
    </footer>
    </div>
    
</body>
</html>