    <div class="hero-image">
        <header>
            <div class="more-nav-items">
                <ul class="inline-nav">
                    <li class="inline-nav hide"><a href="/about" class="hover-underline-animation white">About</a></li>
                    <li class="inline-nav hide"><a href="/contact" class="hover-underline-animation white">Contact</a></li>
                    <li class="inline-nav hide"><a href="/markets/create-market" class="button white">Add Listings</a></li>
                    <!-- rename inline nav for this section - copy styles with the new name in css file -->
                </ul>
            </div>
        </header>
        <nav class="nav">
            <div class="logo-align">
                <a href="/"><img src="/images/farmers-logo.png" class="farmers-finder-logo" alt="logo of a windmill with leaves surrounding it"></a>
            </div>
            <div class="menu-icon open-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
            <ul class="inline-nav main-menu">
                <li class="inline-nav"><a href="/" class="hover-underline-animation white">Home</a></li>
                <li class="inline-nav"><a href="/markets" class="hover-underline-animation white">Markets</a></li>
                <li class="inline-nav"><a href="/register-login" class="button-secondary white">Administrator</a></li>
                <div class="close-menu">
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <span class="icons">
                    <li><a href="https://github.com/frances-ux"><i class="fa-brands fa-github"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/frances-marquez/"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href="https://www.instagram.com/francesdmc/"><i class="fa-brands fa-instagram"></i></a></li>
                </span>
            </ul>
        </nav>
