<%- include('../partials/head') -%> 

<%- include('../partials/pages-nav') -%> 

        <div class="page-hero-content">
            <h1>About</h1>
            <h2>We make finding a farmer’s market in greater St. Augustine, FL a breeze. </h2>
        </div>
    </div>

    <div class="login-container">
        <section class="login-content">
            <h2 class="title">Support your local community. Fresh food awaits you.</h2>
            <p>Widely considered the oldest city in the United States, St. Augustine has so much to offer in addition to its rich history. What better way to support your local community than by stopping by for fresh produce at your local farmers market?</p>
            <p>This site was created to <span class="italics">source</span> the markets for you. All you have to do is browse the Home page or the Markets page for all listings. You can also add a market on the Add Listings page. Enjoy!</p>
        </section>
        <section class="markets-container">
            <img src="/images/tomatoes.png" alt="veggies for sale at a farmer's market" class="markets-img">
        </section>
    </div>

<%- include('../partials/footer') -%>