<%- include('../partials/head') -%> 

<%- include('../partials/pages-nav') -%> 

        <div class="page-hero-content">
            <h1>Admin Console</h1>
        </div>
    </div>

        <div class="admin-container">
            <div class="admin-content">
                <div class="admin-title">
                    <h2 class="title">List of All Markets</h2>
                </div>
                <div class="second-wrapper">
                    <table class="admin-only">
                        <thead>
                            <tr>
                                <th>Farmer's Market Title</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>

                        <tbody>

                        <%- include('../partials/market-listing') -%>     

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <button class="google button logout">
            <a href="/logout" role="button">Logout</a>
        </button>

<%- include('../partials/footer') -%>