<%- include('../partials/head') -%> 

<%- include('../partials/pages-nav') -%> 

        <div class="page-hero-content">
            <h1>Get in touch</h1>
            <h2>Have a farmer’s market you’d like to be featured? Let’s see how we can help.</h2>
        </div>
    </div>

    <div class="contact-container">
        <div class="contact-content">
            <h1>Contact Us</h1>
            <form action="#" method="POST">
                <div>
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" placeholder="Name">
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" placeholder="Email">
                </div>
                <div>
                    <textarea id="inquiry" name="inquiry" rows="10" cols="40" placeholder="Tell us a little bit about your inquiry."></textarea>
                </div>
            </form>
            <div>
                <input type="submit" value="Submit" class="button">
            </div>
        </div>
    </div>

<%- include('../partials/footer') -%>