<%- include('../partials/head') -%> 

<%- include('../partials/pages-nav') -%> 

        <div class="page-hero-content">
            <h1>Markets</h1>
            <h2>Explore the variety of farmer’s markets St. Augustine, FL has to offer!</h2>
        </div>
    </div>


    <div class="login-container">
        <section class="login-content">
            <h2 class="title">Curious about farmers markets in St. Augustine? Explore below.</h2>
            <p>Below are a list of farmers markets located in St. Augustine, FL. Each offers a variety of unique vendors. Explore at your leisure.</p>
        </section>
        <section class="markets-container">
            <img src="/images/mom-and-daughter-at-market.png" alt="veggies for sale at a farmer's market" class="markets-img img-size">
        </section>
    </div>
    <div class="hr-align">
        <hr>
    </div>

    <section class="home-container-text">
        <div class="map-section">
            <div class="map-desc-container">
                <ul class="map-desc-content">
                    <li class="make-it"><i class="fa-solid fa-1"></i><span class="text-width"><a href="https://www.theamp.com/community/farmers-market">St. Augustine Amphitheatre Farmers Market</a></span></li>
                    <li class="make-it"><i class="fa-solid fa-2"></i></i><span class="text-width"><a href="https://www.wednesdaypierfarmersmarket.com/">Wednesday Pier Farmers Market</a></span></li>
                    <li class="make-it"><i class="fa-solid fa-3"></i><span class="text-width"><a href="https://www.vilanobeachfl.com/">Vilano Beach Market</a></span></li>
                    <li class="make-it"><i class="fa-solid fa-4"></i><span class="text-width"><a href="https://coconutbarrel.com/">Coconut Barrel Farmers Market</a></span></li>
                    <li class="make-it"><i class="fa-solid fa-5"></i><span class="text-width"><a href="https://www.yelp.com/biz/county-line-produce-hastings">County Line Produce</a></span></li>
                </ul>
            </div>
            <iframe src="https://www.google.com/maps/d/embed?mid=1CAyw_nfjnU2M2Ka8zKF2dagYrDOKU-U&ehbc=2E312F" height="500px" width="100%" class="map-container"></iframe>
        </div>
        <hr>
    </section>
    <section class="home-container-text">
        <div class="nm-container">
            <div class="nm-content">
                <h1 class="title centered-text">CODESQUAD COMICS</h1>
                <p>
                    CodeSquad Comics is a collection of graphic novels read by Frances Marquez. The site is intended to display comic book covers along with information about each book, including the author, a rating, and other details about the graphic novel. Browse through the complete collection below. Click on the cover image or the Details link to see even more information for each graphic novel including the publisher, genre, number of pages, and a brief synopsis. The About page includes meta information about this collection. Login is only available to the site administrator at this time.
                </p>
            </div>
        </div>
        <hr>
    </section>

<%- include('../partials/footer') -%>